QWidget {
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #333333, stop: 0.2 #444444, stop: 0.5 #555555, stop: 0.8 #444444, stop: 1 #333333);;
}

QLabel {
    color: #FAFAFA;
    font-weight: bold;
    background: transparent;
}