QTabWidget::pane {
  border: 2px solid #333333;
  background: #333333;
}

QTabBar::tab {
  background: #AAAABB;
  border: 2px solid #333333;
  padding: 5px;
  color: black;
}

QTabBar::tab:selected {
  background: #DDDDDD;
  margin-bottom: -4px;
}